body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

.navbar {
    background: white;
    padding: 15px 25px;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.library-logo {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.library-name {
    font-size: 20px;
    font-weight: bold;
}

.nav-right {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.signout {
    padding: 6px 12px;
    border-radius: 50px;
    background: white;
    border: 2px solid #333;
    cursor: pointer;
}

.greeting {
    padding: 20px 25px;
    font-size: 20px;
    font-weight: bold;
}

.dashboard {
    background: white;
    border: 2px solid #333;
    margin: 0 25px 25px;
    padding: 20px;
    border-radius: 10px;
}

.section-title {
    margin-top: 10px;
}

.borrowed-box, .study-room, .footer {
    border: 2px solid #333;
    height: 100px;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
}

.row {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.reading-box, .events-box {
    flex: 1;
    border: 2px solid #333;
    height: 120px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.study-room {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 80px;
}